<ion-router-outlet></ion-router-outlet>
<!-- <ion-app>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="messagingService.communicate()">Scan</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="messagingService.sendPingMessage()"
            >Ping</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="messagingService.sendDataMessage()"
            >Update Count</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app> -->
